.profileContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  background: #fff;
}

.profileContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1.5rem;
}

.profileContainer > div:first-child > h1 {
  color: rgba(0, 0, 0, 0.6);
  font: 500 2rem "Roboto";
}

.profileContainer > div:first-child > img {
  width: 10rem;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  background: #1b1b1b;
  color: #fff;
  font: 400 1rem "Roboto";
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s;
}

.profileContainer > div:first-child > a:hover {
  background: #323030;
}

.profileContainer > div:last-child {
  align-items: flex-start;
  padding: 3rem;
  box-sizing: border-box;
  gap: 1rem;
}

.profileContainer > div:last-child > div > h4 {
  color: #000;
  font: 400 1.2rem "Roboto";
}

.profileContainer > div:last-child > div > p {
  color: rgba(0, 0, 0, 0.5);
  font: 400 1rem cursive;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 0.8rem;
}

.profileContainer > div:last-child > div:last-child > a {
  background: #444;
  color: #fff;
  font: 400 1rem "Roboto";
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
  transition: background 0.3s;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background: #1f1f1f;
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
    text-align: center;
  }

  .profileContainer > div:first-child > h1 {
    font-size: 2.5rem;
  }

  .profileContainer > div:first-child > img {
    width: 8rem;
  }

  .profileContainer > div:first-child > a {
    font-size: 1.2rem;
    padding: 0.8rem;
  }

  .profileContainer > div:last-child {
    align-items: center;
    padding: 2rem;
  }

  .profileContainer > div:last-child > div > h4 {
    font-size: 1.5rem;
  }

  .profileContainer > div:last-child > div > p {
    font-size: 1.2rem;
  }

  .profileContainer > div:last-child > div:last-child {
    width: 80%;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}
